.button {
    &__contour {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent;
        border-radius: 10px;
        padding: 16px 25px;
        border: 2px solid @black;
        font-size: 16px;
        line-height: 21px;
        font-family: "RobotoRegular";
        color: @black;
        cursor: pointer;
        @media (max-width: 1199px) {
            padding: 11px 18px;
        }
    }
    &__green {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-color: #8ca854;
        border-radius: 10px;
        padding: 16px 25px;
        font-size: 16px;
        line-height: 21px;
        font-family: "RobotoRegular";
        color: #3d3d40;
        font-weight: 900;
        cursor: pointer;
        @media (max-width: 1199px) {
            padding: 11px 18px;
        }
        @media (max-width: 767px) {
            font-size: 11px;
            
        }
        &.disabled{ 
            background: #bfbfbf;
            cursor: default;
        }
    }
    &__gray {
        display: inline-block;
        vertical-align: middle;
        background-color: #bfbfbf;
        border-radius: 10px;
        padding: 16px 25px;
        font-size: 16px;
        line-height: 21px;
        font-family: "RobotoRegular";
        @media (max-width: 1199px) {
            padding: 11px 18px;
        }
    }
    &__red{
        display: inline-block;
        vertical-align: middle;
        background-color: @red;
        color: #fffefe;
        letter-spacing: 0.57px;
        border-radius: 15px;
        padding: 16px 55px;
        font-size: 16px;
        line-height: 21px;
        font-family: "TobiLight";
        cursor: pointer;
        @media (max-width: 1199px) {
            padding: 11px 18px;
        }
    }
    &__black{
        display: inline-block;
        vertical-align: middle;
        background-color: @black;
        color: @white;
        border-radius: 15px;
        padding: 8px 60px;
        font-size: 18px;
        line-height: 22px;
        font-family: "RobotoRegular";
        font-weight: 500;
        cursor: pointer;
    }
    &__dashed{
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px dashed @green;
        letter-spacing: 0.45px;
        font-size: 18px;
        line-height: 24px;
        font-family: "RobotoRegular";
        font-weight: 400;
        color: #787878;
        cursor: pointer;
    }
}



