@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/Roboto.ttf");
    src: url("../fonts/roboto/Roboto.woff") format("woff"),
            url("../fonts/roboto/Roboto.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/roboto/Robotoblack.ttf");
    src: url("../fonts/roboto/Robotoblack.woff") format("woff"),
            url("../fonts/roboto/Robotoblack.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBlackItalic";
    src: url("../fonts/roboto/Robotoblackitalic.ttf");
    src: url("../fonts/roboto/Robotoblackitalic.woff") format("woff"),
            url("../fonts/roboto/Robotoblackitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/Robotobold.ttf");
    src: url("../fonts/roboto/Robotobold.woff") format("woff"),
            url("../fonts/roboto/Robotobold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBoldItalic";
    src: url("../fonts/roboto/Robotobolditalic.ttf");
    src: url("../fonts/roboto/Robotobolditalic.woff") format("woff"),
            url("../fonts/roboto/Robotobolditalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoItalic";
    src: url("../fonts/roboto/Robotoitalic.ttf");
    src: url("../fonts/roboto/Robotoitalic.woff") format("woff"),
            url("../fonts/roboto/Robotoitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/Robotolight.ttf");
    src: url("../fonts/roboto/Robotolight.woff") format("woff"),
            url("../fonts/roboto/Robotolight.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLightItalic";
    src: url("../fonts/roboto/Robotolightitalic.ttf");
    src: url("../fonts/roboto/Robotolightitalic.woff") format("woff"),
            url("../fonts/roboto/Robotolightitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/roboto/Robotomedium.ttf");
    src: url("../fonts/roboto/Robotomedium.woff") format("woff"),
            url("../fonts/roboto/Robotomedium.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMediumItalic";
    src: url("../fonts/roboto/Robotomediumitalic.ttf");
    src: url("../fonts/roboto/Robotomediumitalic.woff") format("woff"),
            url("../fonts/roboto/Robotomediumitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoThin";
    src: url("../fonts/roboto/Robotothin.ttf");
    src: url("../fonts/roboto/Robotothin.woff") format("woff"),
            url("../fonts/roboto/Robotothin.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoThinItalic";
    src: url("../fonts/roboto/Robotothinitalic.ttf");
    src: url("../fonts/roboto/Robotothinitalic.woff") format("woff"),
            url("../fonts/roboto/Robotothinitalic.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TobiBlack";
    src: url("../fonts/tobi/TobiBlack.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TobiLight";
    src: url("../fonts/tobi/TobiLight.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TobiRegular";
    src: url("../fonts/tobi/TobiRegular.otf");
    font-style: normal;
    font-weight: normal;
}