.footer {
    background: @footer-bg;
    color: @footer-color;
    font-size: 14px;
    padding: 50px 0px;

    @media (max-width: 1199px) {
        padding-bottom: 150px;
    }

    &__contacts {
        @media (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        @media (max-width: 767px) {
            justify-content: center;
            align-items: center;
        }
        &-phone {
            display: flex;
            align-items: center;


            &-img {
                padding-right: 30px;

                @media (max-width: 1199px) {
                    padding-right: 20px;
                }
            }
        }

        &-mail {
            display: flex;
            align-items: center;
            margin-top: 25px;
            @media (max-width: 1199px) {
                margin-top: 5px;
            }

            &-img {
                padding-right: 30px;

                @media (max-width: 1199px) {
                    padding-right: 10px;
                }
            }
        }

        &-search {
            margin-top: 30px;
            display: flex;

            &-img {
                width: 40px;
                height: 40px;
                background: @white;
                border: 1px solid #787878;
                border-radius: 15px 0px 0px 15px;

                & img {
                    padding: 4px;
                }
            }

            &-input {
                width: 200px;
                height: 40px;
                border: none;
                border-radius: 0px 15px 15px 0px;
                border: 1px solid #787878;
                outline: none;
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
                font-family: "RobotoRegular";
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &__nav {
        display: flex;
        margin-left: 50px;

        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 767px) {
            margin-top: 35px;
            justify-content: center;
            align-items: flex-start;
        }
        &-left {
            font-weight: bold;
            width: ~"calc(6/12 * 100%)";
            &__list {
                &-item {
                    list-style: none;
                    padding-top: 20px;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        &-right {
            // padding-left: 20px;
            width: ~"calc(6/12 * 100%)";
            &__list {
                &-item {
                    list-style: none;
                    padding-top: 20px;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }
    &__callback {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        text-align: center;
        width: 190px;
        color: @light-green;
        border: 1px solid @light-green;
        border-radius: 19px;
        margin-left: auto;
        cursor: pointer;
        @media (max-width: 1199px) {
            max-width: 170px;
            margin-top: 20px;
        }
        @media (max-width: 767px) {
            margin-left: 0px;
        }
        &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 24px;
            width: 28px;
            margin-right: 10px;
            background-image: url('../images/footer_pencil.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &__copyright {
        margin-top: 45px;
        line-height: 25px;
        text-align: center;
        font-weight: bold;
    }
}