* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

&::-webkit-input-placeholder {
	font: inherit !important;
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s ease;
}

&::-moz-placeholder {
	font: inherit !important;
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s ease;
}

&:-moz-placeholder {
	font: inherit !important;
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s ease;
}

&:-ms-input-placeholder {
	// font: inherit!important;
	color: inherit !important;
	opacity: 1;
	transition: opacity 0.3s ease;
}

&:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

&:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

&:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

&:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

&::-ms-clear {
	display: none;
}

html,
body {
	height: 100%;
}

html {
	height: 100%;
	font-size: 14px;
}

body {
	height: 100%;
	font-size: 16px;
	line-height: 22px;
	color: @black;
	margin: 0;
	padding: 0;
	font-family: "RobotoRegular";
	background: #ededed !important;

}

#wt-body {
	background: @white  !important;
	color: @black;
}

input,
button {
	font-family: "Regular-Serif";
	font-weight: 400;
	transition: all 0.1s;
}

label {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.1s;
	border: none;

	&:visited,
	&:hover {
		text-decoration: none;
		transition: all 0.1s;
		border: none;
	}

	&:focus,
	&:active {
		outline: none;
		transition: all 0.1s;
		text-decoration: none;
		border: none;
	}
}

button {
	border: none;
	outline: none;
	background: none;
}

p {
	font-size: 16px;
	line-height: 22px;
	color: @black;
	margin-bottom: 25px;
	font-family: "RobotoRegular";
}

[v-cloak] {
	display: none;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	@media(max-width: 1199px) {
		padding: 0 20px;
	}

	@media(max-width: 767px) {
		padding: 0 15px;
	}

	&.fixed {
		min-width: 1200px;
		max-width: 1200px !important;
	}

	&.fluid {
		min-width: 100%;
		max-width: 100%;
		padding: 0;

		& .row {
			margin: 0;
		}

		& [class*="col-"] {
			padding: 0;
		}
	}
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.row {
	clear: both;
	margin: 0 -15px;

	&:before,
	&:after {
		content: "";
		display: block;
		clear: both;
	}

	@media all and (max-width:1199px) {
		margin: 0px -10px;
	}

	@media all and (max-width:767px) {
		margin: 0px -7.5px;
	}
}

.clear {
	clear: both;
}

.off-scroll {
	overflow: hidden;
}

[v-cloak] {
	display: none;
}

// text-align
.text {
	&__left {
		text-align: left;
	}

	&__right {
		text-align: right;
	}

	&__center {
		text-align: center;
	}
}

// float
.float {
	&__left {
		float: left;
	}

	&__right {
		float: right;
	}
}

// display
.d__block {
	display: block;
}

.d__flex {
	display: flex;
}

.d-lg__none {
	display: none !important;
}

.d-md__block {
	display: none !important;
}

.d-xs__block {
	display: none !important;
}

.align-items__center {
	align-items: center;
}

.align-items__stretch {
	align-items: stretch;
}

.align-items__flex-end {
	align-items: flex-end;
}

.align-items__start {
	align-items: start;
}

.justify-content__flex-end {
	justify-content: flex-end;
}

.justify-content__space-around {
	justify-content: space-around;
}

.justify-content-xs__center {
	@media (max-width: 1199px) {
		justify-content: center;
	}
}

.justify-content__center {
	justify-content: center;
}

.justify-content__start {
	justify-content: start;
}

.justify-content__space-between {
	justify-content: space-between;
}

.align-self__start {
	align-self: start;
}

.flex-direction__row-reverse {
	flex-direction: row-reverse;
}

.flex-direction__column {
	flex-direction: column;
}


@media (max-width: 1199px) {
	.d-md__none {
		display: none !important;
	}

	.d-md__block {
		display: block !important;
	}

	.d-xs__block {
		display: none !important;
	}
	.flex-wrap-md__wrap{
		flex-wrap: wrap;
	}
}

@media (max-width: 767px) {
	.d-xs__none {
		display: none !important;
	}

	.d-xs__block {
		display: block !important;
	}

	.d-xs__inline-block {
		display: inline-block;
	}
	.flex-direction-xs__column-reverse{
		flex-direction: column-reverse;
	}
}


.order__lg-1 {
	-webkit-box-ordinal-group: 1;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.order__lg-2 {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.order__lg-3 {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
}

.order__lg-4 {
	-webkit-box-ordinal-group: 4;
	-webkit-order: 4;
	-ms-flex-order: 4;
	order: 4;
}

@media (max-width: 1199px) {
	.order__md-1 {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.order__md-2 {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.order__md-3 {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}

	.order__md-4 {
		-webkit-box-ordinal-group: 4;
		-webkit-order: 4;
		-ms-flex-order: 4;
		order: 4;
	}
}

@media (max-width: 767px) {
	.order__xs-1 {
		-webkit-box-ordinal-group: 1;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.order__xs-2 {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.order__xs-3 {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}

	.order__xs-4 {
		-webkit-box-ordinal-group: 4;
		-webkit-order: 4;
		-ms-flex-order: 4;
		order: 4;
	}

	.order__xs-5 {
		-webkit-box-ordinal-group: 5;
		-webkit-order: 5;
		-ms-flex-order: 5;
		order: 5;
	}

	.order__xs-6 {
		-webkit-box-ordinal-group: 6;
		-webkit-order: 6;
		-ms-flex-order: 6;
		order: 6;
	}

	.order__xs-7 {
		-webkit-box-ordinal-group: 7;
		-webkit-order: 7;
		-ms-flex-order: 7;
		order: 7;
	}

	.order__xs-8 {
		-webkit-box-ordinal-group: 8;
		-webkit-order: 8;
		-ms-flex-order: 8;
		order: 8;
	}

	.order__xs-9 {
		-webkit-box-ordinal-group: 8;
		-webkit-order: 8;
		-ms-flex-order: 8;
		order: 8;
	}
}