@media all and (min-width: 1200px) {
	@column-name-lg: col-lg;
	@column-count-lg: 12;
	@column-offset-lg: col-lg-offset;
	@column-push-lg: col-lg-push;
	@column-pull-lg: col-lg-pull;
	@display-name-lg: d-lg;
	@display-count-lg: length(@displays);
	@displays: block, inline-block, flex, none;
	@align-name-lg: text-lg;
	@align-count-lg: length(@aligns);
	@aligns: left, right, center;

	// display
	.generate-display-lg(@i: 1) when (@i =< @display-count-lg) {
		@var: extract(@displays, @i);
		.@{display-name-lg}__@{var} {
			display: @var;
		}
		.generate-display-lg(@i + 1);
	}
	.generate-display-lg();

	// text-align
	.generate-align-lg(@i: 1) when (@i =< @align-count-lg) {
		@var: extract(@aligns, @i);
		.@{align-name-lg}__@{var} {
			text-align: @var;
		}
		.generate-align-lg(@i + 1);
	}
	.generate-align-lg();

	// column
	.generate-column-lg(@i: 1) when (@i =< @column-count-lg) {
		.@{column-name-lg}-@{i} {
			width: @i * (100% / @column-count-lg);
			float: left;
			min-height: 1px;
			position: relative;
			padding: 0px 15px;
		}
		.generate-column-lg(@i + 1);
	}
	.generate-column-lg();

	// offset
	.generate-column-lg-offset(@i: 1) when (@i =< @column-count-lg) {
		.@{column-offset-lg}-@{i} {
			margin-left: percentage((@i / @column-count-lg));
		}
		.generate-column-lg-offset(@i + 1);
	}
	.generate-column-lg-offset();

	// push
	.generate-column-lg-push(@i: 1) when (@i =< @column-count-lg) {
		.@{column-push-lg}-@{i} {
			left: percentage((@i / @column-count-lg));
		}
		.generate-column-lg-push(@i + 1);
	}
	.generate-column-lg-push();

	// pull
	.generate-column-lg-pull(@i: 1) when (@i =< @column-count-lg) {
		.@{column-pull-lg}-@{i} {
			right: percentage((@i / @column-count-lg));
		}
		.generate-column-lg-pull(@i + 1);
	}
	.generate-column-lg-pull();

}

@media all and (max-width: 1199px) {
	@column-name-md: col-md;
	@column-count-md: 12;
	@column-offset-md: col-md-offset;
	@column-push-md: col-md-push;
	@column-pull-md: col-md-pull;
	@display-name-md: d-md;
	@display-count-md: length(@displays);
	@displays: block, inline-block, flex, none;
	@align-name-md: text-md;
	@align-count-md: length(@aligns);
	@aligns: left, right, center;
	
	// display
	.generate-display-md(@i: 1) when (@i =< @display-count-md) {
		@var: extract(@displays, @i);
		.@{display-name-md}__@{var} {
			display: @var;
		}
		.generate-display-md(@i + 1);
	}
	.generate-display-md();

	// text-align
	.generate-align-md(@i: 1) when (@i =< @align-count-md) {
		@var: extract(@aligns, @i);
		.@{align-name-md}__@{var} {
			text-align: @var;
		}
		.generate-align-md(@i + 1);
	}
	.generate-align-md();

	// column
	.generate-column-md(@i: 1) when (@i =< @column-count-md) {
		.@{column-name-md}-@{i} {
			width: @i * (100% / @column-count-md);
			float: left;
			min-height: 1px;
			position: relative;
			padding: 0px 10px;
		}
		.generate-column-md(@i + 1);
	}
	.generate-column-md();

	// offset
	.generate-column-md-offset(@i: 1) when (@i =< @column-count-md) {
		.@{column-offset-md}-@{i} {
			margin-left: percentage((@i / @column-count-md));
		}
		.generate-column-md-offset(@i + 1);
	}
	.generate-column-md-offset();

	// push
	.generate-column-md-push(@i: 1) when (@i =< @column-count-md) {
		.@{column-push-md}-@{i} {
			left: percentage((@i / @column-count-md));
		}
		.generate-column-md-push(@i + 1);
	}
	.generate-column-md-push();

	// pull
	.generate-column-md-pull(@i: 1) when (@i =< @column-count-md) {
		.@{column-pull-md}-@{i} {
			right: percentage((@i / @column-count-md));
		}
		.generate-column-md-pull(@i + 1);
	}
	.generate-column-md-pull();

}

@media all and (max-width: 767px) {
	@column-name-xs: col-xs;
	@column-count-xs: 12;
	@column-offset-xs: col-xs-offset;
	@column-push-xs: col-xs-push;
	@column-pull-xs: col-xs-pull;
	@display-name-xs: d-xs;
	@display-count-xs: length(@displays);
	@displays: block, inline-block, flex, none;
	@align-name-xs: text-xs;
	@align-count-xs: length(@aligns);
	@aligns: left, right, center;
	
	// display
	.generate-display-xs(@i: 1) when (@i =< @display-count-xs) {
		@var: extract(@displays, @i);
		.@{display-name-xs}__@{var} {
			display: @var;
		}
		.generate-display-xs(@i + 1);
	}
	.generate-display-xs();

	// text-align
	.generate-align-xs(@i: 1) when (@i =< @align-count-xs) {
		@var: extract(@aligns, @i);
		.@{align-name-xs}__@{var} {
			text-align: @var;
		}
		.generate-align-xs(@i + 1);
	}
	.generate-align-xs();

	// column
	.generate-column-xs(@i: 1) when (@i =< @column-count-xs) {
		.@{column-name-xs}-@{i} {
			width: @i * (100% / @column-count-xs);
			float: left;
			min-height: 1px;
			position: relative;
			padding: 0px 7.5px;
		}
		.generate-column-xs(@i + 1);
	}
	.generate-column-xs();

	// offset
	.generate-column-xs-offset(@i: 1) when (@i =< @column-count-xs) {
		.@{column-offset-xs}-@{i} {
			margin-left: percentage((@i / @column-count-xs));
		}
		.generate-column-xs-offset(@i + 1);
	}
	.generate-column-xs-offset();

	// push
	.generate-column-xs-push(@i: 1) when (@i =< @column-count-xs) {
		.@{column-push-xs}-@{i} {
			left: percentage((@i / @column-count-xs));
		}
		.generate-column-xs-push(@i + 1);
	}
	.generate-column-xs-push();

	// pull
	.generate-column-xs-pull(@i: 1) when (@i =< @column-count-xs) {
		.@{column-pull-xs}-@{i} {
			right: percentage((@i / @column-count-xs));
		}
		.generate-column-xs-pull(@i + 1);
	}
	.generate-column-xs-pull();

}

  
