.icon{
    &__car{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 43px;
        height: 23px;
        background-image: url(../images/car.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;
        @media (max-width: 1199px) {
            width: 30px;
            height: 16px;
        }
    }
    &__dog{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        height: 35px;
        background-image: url(../images/dog.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;
    }
}