input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: @green;
    cursor: pointer;
    margin-top: -5px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: @green;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {

    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: @green;
    cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]::-ms-fill-upper {
    background: #bfbfbf;
    border-radius: 3px;
}

input[type=range]:focus::-ms-fill-upper {
    background: #bfbfbf;
    border-radius: 3px;
}