.recommended-prod {
  margin-top: 75px;
  &-left {
    
    &__avatar {
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      &-dot {
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 50%;
        background: @white;
        vertical-align: middle;
      }
    }
    &__list {
      background:@white;
      border:3px solid @green;
      margin-top: 30px;
      &-dropdown {
        &__item {
          font-size: 18px;
          line-height: 22px;
          color:#333333;
          padding: 15px;
          list-style: none;
          border-bottom:3px solid @green;
          cursor: pointer;
          &:last-child {
            border-bottom:0px;
          }
          &:hover, &:active {
            background:@green;
            color:@white;
            
          }
        }
      }
    }
  }
}