/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    outline: none;
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.fluid{
    & .slick-prev{
        left: 10%;
    }
    & .slick-next{
        right: 10%;
    }
}

.slider__news{
    & .slick-prev{
        left: 0px;
    }
    & .slick-next{
        right: 0px;
    }
    & .slick-slide{
        & > div{
            height: 100%;
            & > div{
                height: 100%;
            }
        }
    }
    & .slick-list{
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    & .slick-track{
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

.slider-offers__block{
    & .slick-prev{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAcCAMAAACJShVNAAAAJ1BMVEUAAACOqlWOqlWLplWMp1SLp1OMqFSMqFSLqVONp1WKqFKOqlWMqFQt+5McAAAADXRSTlMAPyRC7Dfn601OMi3lwnxvpgAAAEFJREFUeAFjQAGMTChcZhZGZC4rCzMKl40CLjsHKpeTeC4XKpebB4OLyccUwDQPYR/pAgj/IPxLsQAivBHxgR5fAL1HAfnF7BX5AAAAAElFTkSuQmCC);
        left: 0px;
    }
    & .slick-next{
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAcCAMAAACJShVNAAAAJ1BMVEUAAACOqlWOqlWMp1SLplWLp1OMqFSLqVOMqFSNp1WKqFKMqFSOqlVDJawQAAAADXRSTlMAJD/sQjfnTetOMuUtD2iJxgAAAEBJREFUeNql0SsWACAIRFGUj4juf71mJhCE9m7jDI1J6SZLBmEFsD4sB9g/EADnloCN6ZFT6yz+EWska7EH7vUAyCUCC7erAloAAAAASUVORK5CYII=);
        right: 0px;
    }
    & .slick-slide{
        & > div{
            height: 100%;
            & > div{
                height: 100%;
            }
        }
    }
    & .slick-list{
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    & .slick-track{
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

.slick-prev{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: auto 0;
    font-size: 0;
    width: 15px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/left-arrow.png);
    cursor: pointer;
    &:hover{

    }
}

.slick-next{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: auto 0;
    font-size: 0;
    width: 15px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/right-arrow.png);
    cursor: pointer;
    &:hover{

    }
}

/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}


.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
    @media (max-width: 767px) {
        bottom: 5px;
    }

}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 0 10px;
    padding: 0;

    cursor: pointer;
    @media (max-width: 767px) {
        width: 10px;
        height: 10px;
    }
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;


    cursor: pointer;

    color: fade(@white, 30);
    border: 0;
    outline: none;
    border: 1px solid @white;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    @media (max-width: 767px) {
        width: 10px;
        height: 10px;
    }
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li.slick-active button
{
    color: @white;
    background: @white;
}