.tabs {
    &__caption {
        position: relative;
        background: url(../images/chat-bg.png);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        list-style: none;
        // padding: 20px 0;
    }
    &__item {
        position: relative;
        min-width: 140px;
        z-index: 1;
        color: #333333;
        cursor: pointer;
        letter-spacing: 0.05em;
        font-size: 13px;
        line-height: 22px;
        font-family: "RobotoRegular";
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        background: @white;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        &--active {
            color: #ffffff;
            font-size: 13px;
            position: relative;
            background: @green;
        }
        // &--active:before {
        //     position: absolute;
        //     content: '';
        //     width: 100%;
        //     height: 2px;
        //     top: 38px;
        //     left: 0;
        //     background-color: @green;
        // }
    }
    &__content {
        display: block;
        @media (max-width: 767px) {
            display: none;
        }
      }
    
    &__content--active {
        display: block;
    }
}